<%= form_for([@pet, @game]) do |f| %>
    <%= choice = select_tag(options_for_select(['', 'Rock', 'Paper', 'Scissors'])) %>
    <%= temp = rand(1...3) %>

    <% if choice == 'Rock' && temp == 1 %>
        <% f.submit "Submit" %>
    <% end %>

    <% if choice == 'Rock' && temp == 2 %>
        <% f.submit "Submit" %>
    <% end %>

    <% if choice == 'Rock' && temp == 3 %>
        <div class="actions">
        <% f.submit "Submit", :onclick => (@pet.money + 10) %>
        </div>
    <% end %>

<% if false %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% end %>
